// Fonts
@import url('https://fonts.googleapis.com/css?family=Cairo|Titillium+Web');
$en-font-family: 'Titillium Web';
$ar-font-family: 'Cairo';


$form-control-border-radius: 0px;
$form-control-box-shadow: none;
$form-control-outline: none;

$btn-icon-padding: 0.5rem;

$font-size-base: 0.9rem;
$line-height-base: 1.6;

$alert-danger: #FFCFCF;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #000;
$grey: #aaa;
$light-grey: #ddd;
$dark-grey: #555;


$xs: 400px;
$sm: 570px;
$md: 768px;
$lg: 992px;
